/* DOM */
html, body {
	margin:0;
	padding: 0;
}
body {
	background-color: lightgrey;
}
table {
	margin:10px auto;
	
	background-position: center;
	background-size:100% 100%;
	background-repeat: no-repeat;
	padding: .1em;
	border:2px solid black;
	cursor: pointer;
}

td {
	font-size: .7em;
	text-align: center;
	background-color: transparent;
	opacity: 0;
	cursor: pointer;
}

td:hover {
	opacity: 1; 
}

/* CLASS */
.startPage {
	opacity: 0;
}
.startPage_full {
	opacity: 1;	
}
.gameChoice {
	display: inline-grid;
	background-color: slategrey;
	text-align: center;
	margin-top: 30vh;
	height: 40vh;
}
/* ID */
#board19 {
	background-image: url("../assets/board.png");
}
/* Multi */
.startPage, .startPage_full {
	transition: 1s all;
	text-align: center;
}
.startPage div button, .startPage_full div button {
	font-size: 1rem;
	width: 20rem;
	margin: 1em;
}